openapi: 3.0.3
info:
  title: Hypegamer Control Plane API
  version: 1.0.0
servers:
  - url: https://api.hypegamer.dev
paths:
  /v1/competitions:
    get:
      summary: List competitions for current project
      parameters:
        - in: query
          name: game
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string, enum: [upcoming, live, completed, archived] }
      responses:
        "200":
          description: Competition list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompetitionListResponse"
  /v1/matches:
    get:
      summary: List matches
      responses:
        "200":
          description: Match list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchListResponse"
  /v1/players/{playerId}/skill-profile:
    get:
      summary: Fetch skill profile
      parameters:
        - in: path
          name: playerId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Skill profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillProfileResponse"
  /v1/sources:
    get:
      summary: List source health
      responses:
        "200":
          description: Source health response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceListResponse"
  /v1/governance/partner-grants:
    get:
      summary: List partner access grants (Phase 4)
      description: >-
        Grant matrix for external orgs; UI mock today lives at `/partners`. Certified vs community paths must never
        be conflated in responses.
      responses:
        "200":
          description: Partner grant rows for the current project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerGrantListResponse"
  /v1/governance/trust-signals:
    get:
      summary: List trust and integrity signals (Phase 4)
      description: >-
        Signal queue with policy-safe evidence; UI mock at `/trust`. Redacted previews remain the default for
        restricted viewers.
      responses:
        "200":
          description: Trust signal rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustSignalListResponse"
  /v1/governance/audit-events:
    get:
      summary: List recent control-plane audit events (Phase 4)
      description: >-
        Immutable-style audit feed; UI mock under Settings → Recent audit activity. Exports require elevated session
        and redaction review in production.
      responses:
        "200":
          description: Audit activity rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditEventListResponse"
  /v1/governance/workspace-members:
    get:
      summary: List workspace members and role assignments (Phase 4)
      description: >-
        Directory roster backing Settings → Members. Invites and SCIM are out of band until directory services ship.
      responses:
        "200":
          description: Member roster
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceMemberListResponse"
components:
  schemas:
    Provenance:
      type: object
      required: [provenanceTier, sourceSystem, sourceObjectId]
      properties:
        provenanceTier:
          type: string
          enum: [certified, publisher_authorized, verified_community, community]
        sourceSystem: { type: string }
        sourceObjectId: { type: string }
        sourceDisplayName: { type: string }
        confidenceScore: { type: number, minimum: 0, maximum: 1 }
    CompetitionSummary:
      type: object
      required: [id, name, status, provenance]
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string }
        startsAt: { type: string, format: date-time }
        provenance:
          $ref: "#/components/schemas/Provenance"
    CompetitionListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CompetitionSummary"
    MatchSummary:
      type: object
      required: [id, competitionId, status, participants, provenance]
      properties:
        id: { type: string }
        competitionId: { type: string }
        status: { type: string }
        participants:
          type: array
          items:
            type: object
            required: [entityId, displayName]
            properties:
              entityId: { type: string }
              displayName: { type: string }
              score: { type: integer }
        provenance:
          $ref: "#/components/schemas/Provenance"
    MatchListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/MatchSummary"
    SkillProfileResponse:
      type: object
      required: [playerId, titles]
      properties:
        playerId: { type: string }
        titles:
          type: array
          items:
            type: object
            required: [game, tierLabel, confidenceScore]
            properties:
              game: { type: string }
              tierLabel: { type: string }
              confidenceScore: { type: number, minimum: 0, maximum: 1 }
    SourceListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            required: [id, displayName, status]
            properties:
              id: { type: string }
              displayName: { type: string }
              status: { type: string, enum: [healthy, degraded, failed, paused] }
    PartnerGrantListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PartnerGrantRow"
    PartnerGrantRow:
      type: object
      required: [id, orgName, partnerType, scopeSummary, status, lastReviewedAt]
      properties:
        id: { type: string }
        orgName: { type: string }
        partnerType: { type: string }
        scopeSummary: { type: string }
        status: { type: string, enum: [active, pending, revoked] }
        expiresAt: { type: string, format: date-time, nullable: true }
        lastReviewedAt: { type: string, format: date-time }
    TrustSignalListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TrustSignalRow"
    TrustSignalRow:
      type: object
      required: [id, title, severity, state, signalKind, updatedAt, evidencePreview]
      properties:
        id: { type: string }
        title: { type: string }
        severity: { type: string, enum: [low, medium, high, critical] }
        state: { type: string, enum: [open, triaged, closed] }
        signalKind: { type: string }
        updatedAt: { type: string, format: date-time }
        evidencePreview: { type: string }
    AuditEventListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AuditEventRow"
    AuditEventRow:
      type: object
      required: [id, occurredAt, actorLabel, verb, objectLabel]
      properties:
        id: { type: string }
        occurredAt: { type: string, format: date-time }
        actorLabel: { type: string }
        verb: { type: string }
        objectLabel: { type: string }
        beforeSummary: { type: string, nullable: true }
        afterSummary: { type: string, nullable: true }
    WorkspaceMemberListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceMemberRow"
    WorkspaceMemberRow:
      type: object
      required: [id, displayName, roleKey, status]
      properties:
        id: { type: string }
        displayName: { type: string }
        roleKey: { type: string }
        status: { type: string, enum: [active, invited] }
